@import "tailwindcss";

@theme {
  --color-primary: #60a5fa;
  --color-primaryHover: #3b82f6;
  --color-accent: #D4AF37;
  --color-accentHover: #c8a52e;
  --color-bg: #0f172a;
  --color-panel: #1e293b;
  --color-surface: #334155;
  --color-surfaceHover: #475569;
  --color-line: #475569;
  --color-text: #f1f5f9;
  --color-text2: #94a3b8;

  --shadow-soft: 0 8px 20px rgba(0, 0, 0, 0.3);
  --radius-xl2: 1rem;
}

html, body, #root {
  height: 100%;
}
